<footer class="text-center bg-body-tertiary" style="background-color: #000000; position: relative; z-index: 1000;">
    <div class="container pt-4">
        <section class="mb-4">
            <a data-mdb-ripple-init class="btn text-white btn-floating linkedin-btn m-1" href="https://www.linkedin.com/in/guilhermejramos/" target="_blank" role="button">
                <i class="bi bi-linkedin"></i>
            </a>
            <a data-mdb-ripple-init class="btn text-white github-btn m-1" href="https://github.com/GuilhermeJRamos" target="_blank" role="button">
                <i class="bi bi-github"></i>
            </a>
        </section>
    </div>
  
    <hr style="border-top: 1px solid #6c757d;">
  
    <div class="text-white p-3" style="background-color: rgb(0, 0, 0); z-index: 1000;">
        © 2024 Guilherme Ramos Copyright
    </div>
</footer>
