html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

::-webkit-scrollbar {
    width: 8px; 
    background-color: #000; 
}

::-webkit-scrollbar-thumb {
    background-color: #ff0000; 
    border-radius: 5px; 
}